{% extends 'jobHub/base.html' %} {% block content %} {% load static %}
<div class="container-fluid">
  <div class="row card-columns">
    <div class="col-md-6">
      <div class="col-md-12">
        <div class="card mt-5 apply-job-img">
          <img alt="Image" src="{% static 'jobHub/images/business.svg' %}" />
        </div>
      </div>
      <div class="col-md-12 " style="margin-top: 100px;">
        <div class="card mt apply-job-img">
          <img alt="Image" src="{% static 'jobHub/images/graph.svg' %}" />
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card mt-5 ml-2 create-job-box mx-auto">
        <div class="create-job-header">
          <h1>CREATE HERE</h1>
        </div>

        <form action="/add_vacancy/" method="POST">
          {% csrf_token %} {{form.as_p}}
          <hr />
          <input
            type="submit"
            value="ADD JOB"
            class="btn btn-success add_btn"
          />
        </form>
      </div>
    </div>
  </div>
</div>

<!-- <div class="container">
  <h1>Vacancy page</h1>
  <div class="row">
    <div class="col-lg-4 mx-auto" id="form-content">
      <div class="alert alert-info">
        <h2>Add a job</h2>
      </div>
      <div class="p-5">
        <form action="/add_vacancy/" method="POST">
          {% csrf_token %} {{ form.as_p }}
          <hr />
          <input type="submit" value="ADD" class="btn btn-success add_btn" />
        </form>
      </div>
    </div>
  </div>
</div> -->

{% endblock %}
